.SelectColor {
  position: absolute;
  top:75px;
  margin-right: -25px;
  min-width: 175px;
  box-shadow: 0px 5px 10px 10px rgba(0,0,0,0.1);
}

.SelectColor :last-child {
  border: none;
}

.SelectColor__triangle {
  border: 10px solid transparent;
  border-top: 10px solid white;
  transform: rotate(180deg);

  position: absolute;
  z-index: 2;
  top: -20px;
  right: 20px;
}

.SelectColor__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgb(168, 168, 168);
  margin: 0;
  padding: 10px 15px;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  color: #616161;
}

.SelectColor__item:hover {
  background: #3bc7ff;
}

.SelectColor__name {
  padding: 0;
  margin: 0;
}

.SelectColor__color {
  height: 15px;
  width: 15px;
}

.SelectColor__color_red {
  background: #f00;
}

.SelectColor__color_blue {
  background: #00f;
}

.SelectColor__color_green {
  background: #0f0;
}

.SelectColor__color_yellow {
  background: #ff0;
}
